/* Ancestry View */
.abstract-folder-ancestry-container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-primary);
}

.ancestry-graph-canvas {
    width: 100%;
    height: 100%;
}
