/* Force the view header to display for the abstract-folder-view type */
.workspace-leaf-content[data-type="abstract-folder-view"] .view-header,
.workspace-leaf-content[data-type="abstract-library-explorer"] .view-header,
.workspace-leaf-content[data-type="abstract-spaces-explorer"] .view-header {
	display: none !important;
}

.workspace-leaf-content[data-type="abstract-folder-view"],
.workspace-leaf-content[data-type="abstract-library-explorer"],
.workspace-leaf-content[data-type="abstract-spaces-explorer"] {
	padding-top: 0 !important;
}

.workspace-leaf-content[data-type="abstract-folder-view"] .view-content,
.workspace-leaf-content[data-type="abstract-library-explorer"] .view-content,
.workspace-leaf-content[data-type="abstract-spaces-explorer"] .view-content {
	padding: 0 12px 12px 12px !important;
}
